header {
height: 10rem;}

#banner {
    margin-bottom: 2rem;
    opacity: 90%;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

@keyframes animacionTest {}

.img-rounded {
    width: var(--img-size);
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.left-ctr{
    font-size: 1.2rem;
    gap: 0;
}
