<div class="section row-between-container">
    <div class="left-ctr lhi"></div>
    <div class="right-ctr">
        <div class="row-between-container">
            <h1>PROYECTOS</h1>
            <i *ngIf="islogged()" class="icon fa-solid fa-plus" (click)="toggleAdd()"></i>
        </div>
    </div>
</div>

<!-- Agregar -->
<form *ngIf="isAddFormActive && islogged()" #addForm="ngForm" class="row-between-container">
    <div class="left-ctr"></div>
    <div class="right-ctr">
        <label for="name">Nombre del proyecto</label>
        <input type="text" id="name" placeholder="Página web" name="name" ngModel>
        <label for="description">Descripción</label>
        <textarea rows="3" id="description" placeholder="De que trata el proyecto, tecnologías usadas, objetivos"
            name="description" ngModel></textarea>
        <label for="link">Demo o web (URL)</label>
        <textarea rows="2" id="link" placeholder="https://proyectexample.com" name="link" ngModel></textarea>
        <label for="urlGit">Repositorio GIT (URL)</label>
        <textarea rows="2" id="urlGit" placeholder="https://github.com/example/project" name="urlGit"
            ngModel></textarea>
        <label for="urlImg">Imagen del proyecto (URL)</label>
        <textarea rows="2" id="urlImg" placeholder="http://imgcloud.com/logoInstitute.jpg" name="urlImg"
            ngModel></textarea>
        <div class="btn-container">
            <button class="confirm-btn icon-btn" type="submit"
                (click)="save(addForm.value);toggleAdd()">Guardar</button>
            <button class="confirm-btn icon-btn" type="button" (click)="toggleAdd()">Cancelar</button>
        </div>
    </div>
</form>

<!-- Vista de datos -->
<div *ngFor="let proj of this.list">
    <div *ngIf="idEdit != proj.id" class="section row-between-container">
        <div class="col-container left-ctr">
            <img class="logo-img shadow" [src]="proj.urlImg">
            <div class="row-container">
                <a [href]="proj.urlGit"><i class="icon devicon-github-original"></i></a>
                <a [href]="proj.link"><i class="icon fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="right-ctr">
            <div class="row-between-container">
                <h2>{{proj.name}}</h2>
                <div *ngIf="islogged()" class="row-container">
                    <i type="button" (click)="toggleEdit(proj.id)" class="icon fa-solid fa-pen-to-square"
                        placeholder="Editar" aria-placeholder="Cancelar"></i>
                    <i type="button" (click)="delete(proj.id)" class="icon fa-regular fa-circle-xmark"
                        placeholder="Eliminar" aria-placeholder="Eliminar"></i>
                </div>
            </div>
            <p>{{proj.description}}</p>
        </div>
    </div>

    <!-- Edicion si esta logueado-->
    <div *ngIf="islogged()">
        <div *ngIf="idEdit == proj.id" class="section row-between-container">
            <div class="col-container left-ctr">
                <img class="logo-img shadow" [src]="proj.urlImg">
                <div class="row-container">
                    <a [href]="proj.urlGit"><i class="icon devicon-github-original"></i></a>
                    <a [href]="proj.link"><i class="icon fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="right-ctr">
                <label for="name">Nombre del proyecto</label>
                <input type="text" id="name" placeholder="Página web" name="name" [(ngModel)]="proj.name">
                <label for="description">Descripción</label>
                <textarea rows="3" id="description"
                    placeholder="De que trata el proyecto, tecnologías usadas, objetivos" name="description"
                    [(ngModel)]="proj.description"></textarea>
                <label for="link">Demo o web (URL)</label>
                <textarea rows="1" id="link" placeholder="https://proyectexample.com" name="link"
                    [(ngModel)]="proj.link"></textarea>
                <label for="urlGit">Repositorio GIT (URL)</label>
                <textarea rows="1" id="urlGit" placeholder="https://github.com/example/project" name="urlGit"
                    [(ngModel)]="proj.urlGit"></textarea>
                <label for="urlImg">Imagen del proyecto (URL)</label>
                <textarea rows="1" id="urlImg" placeholder="http://imgcloud.com/logoInstitute.jpg" name="urlImg"
                    [(ngModel)]="proj.urlImg"></textarea>
                <div class="btn-container">
                    <button class="confirm-btn icon-btn" type="button"
                        (click)="update(proj);toggleEdit(0)">Guardar</button>
                    <button class="confirm-btn icon-btn" type="button"
                        (click)="getAll();toggleEdit(0)">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>