<div class="section row-between-container">
    <div class="left-ctr lhi"></div>
    <div class="right-ctr">
        <div class="row-between-container">
            <h1>SKILLS</h1>
            <i *ngIf="islogged()" class="icon fa-solid fa-plus" (click)="toggleAdd()"></i>
        </div>
    </div>
</div>

<!-- Agregar -->
<form *ngIf="isAddFormActive && islogged()" #addForm="ngForm" class="row-between-container">
    <div class="left-ctr"></div>
    <div class="right-ctr">
        <label for="name">Nombre de la habilidad</label>
        <input type="text" id="name" placeholder="Java,css,html,ingles,cooperativo" name="name" ngModel>
        <label for="progress">Progreso % de habilidad</label>
        <input type="number" id="progress" placeholder="20" name="progress" ngModel>
        <label for="urlLogo">Icono representativo</label>
        <input type="text" id="urlLogo" placeholder="devicon-amazonwebservices-original" name="urlLogo" ngModel>
        <div class="btn-container">
            <button class="confirm-btn icon-btn" type="submit"
                (click)="save(addForm.value);toggleAdd()">Guardar</button>
            <button class="confirm-btn icon-btn" type="button" (click)="toggleAdd()">Cancelar</button>
        </div>
    </div>
</form>

<!-- Vista de datos -->

<div class="section row-between-container">
    <div class="left-ctr"></div>
    <div class="right-ctr skill-container row-between-container">
        <div *ngFor="let skill of this.list">
            <div *ngIf="idEdit != skill.id" class="col-container">
                <h2>{{skill.name}}</h2>
                <div *ngIf="islogged()" class="row-container">
                    <i type="button" (click)="toggleEdit(skill.id)" class="icon fa-solid fa-pen-to-square"
                        placeholder="Editar" aria-placeholder="Editar"></i>
                    <i type="button" (click)="delete(skill.id)" class="icon fa-regular fa-circle-xmark"
                        placeholder="Eliminar" aria-placeholder="Eliminar"></i>
                </div>
                <i type="button" class="skill" [ngClass]="skill.urlLogo?skill.urlLogo:''"></i>
                <div class="base">
                    <div class="pBar" [ngStyle]="{'width.%':skill.progress}"></div>
                </div>
            </div>

            <!-- Edicion si esta logueado-->
            <div *ngIf="islogged()">
                <div *ngIf="idEdit == skill.id" class="skill-container col-container">
                    <div class="right-ctr">
                        <h2>{{skill.name}} </h2>
                        <label for="name">Nombre de la habilidad</label>
                        <input type="text" id="name" placeholder="Java,css,html,ingles,cooperativo" name="name"
                            [(ngModel)]="skill.name">
                        <label for="progress">Progreso % de habilidad</label>
                        <input type="number" id="progress" placeholder="20" name="progress"
                            [(ngModel)]="skill.progress">
                        <label for="urlLogo">Icono representativo</label><a href="https://devicon.dev/"
                            target="_blank">Devicon</a>
                        <input type="text" id="urlLogo" placeholder="devicon-amazonwebservices-original" name="urlLogo"
                            [(ngModel)]="skill.urlLogo">
                        <div class="btn-container">
                            <button class="confirm-btn icon-btn" type="button"
                                (click)="update(skill);toggleEdit(0)">Guardar</button>
                            <button class="confirm-btn icon-btn" type="button"
                                (click)="getAll();toggleEdit(0)">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>