.skill {
    color: var(--color-h1);
    font-size: calc(var(--img-size)*0.75);
    transition: 0.2s;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
}

.col-container {
    width: calc(var(--img-size)*0.75);
}


.base {
    height: 10px;
    width: 100%;
    background: rgba(221, 221, 221, 0.787);
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid var(--color-h1);
}

.pBar {
    height: 10px;
    background: var(--color-h1);
    ;
}