.skill {
  color: var(--color-h1);
  font-size: calc(var(--img-size) * 0.5);
  transition: 0.2s;
}

.skill-container {
  margin-bottom: 3rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.col-container {
  width: calc(var(--img-size) * 0.75);
}

.base {
  height: 10px;
  width: 100%;
  margin-top: 1rem;
  background: rgba(221, 221, 221, 0.787);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid var(--color-h1);
}

.pBar {
  height: 10px;
  background: var(--color-h1);
}

@media only screen and (max-width: 600px) {
  .skill-container {
    justify-content: center !important;
  }
}
