@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
@import url(https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css);

:root {
  --color-h1: white;
  --color-h2: burlywood;
  --color-h3: rgba(238, 231, 231, 0.944);
  --color-p: rgb(234, 229, 229);
  --font-base: "Bai Jamjuree";
  --img-size: 15rem;
  --margin-section: 5rem;
  --pad: 1.25rem;
  --gap: 20px;
}

html {
  background: linear-gradient(
    135deg,
    #005baa 0%,
    #005baa 25%,
    #007dc6 50%,
    #00aeef 100%
  );
  background-size: cover;
}

body {
  color: var(--color-body);
  font-family: var(--font-base);
  margin: 0 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0%;
}

h1 {
  color: var(--color-h1);
}

h2 {
  color: var(--color-h2);
  text-transform: uppercase;
}

h3 {
  color: var(--color-h3);
}

p {
  color: var(--color-p);
}

.left-ctr {
  width: 18rem;
  display: flex;
  flex-grow: 1;
  align-self: center;
  padding: 0 var(--pad);
}

.right-ctr {
  width: 50%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 var(--pad);
}

/* ngFor para contenido iterable */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap);
}

.row-between-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5rem;
}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: var(--gap); */
}

label {
  color: var(--color-h1);
  font-weight: 700;
}

input,
textarea {
  padding: 10px;
  font-family: var(--font--base);
  font-size: 1.4rem;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  resize: none;
  /* overflow: hidden; */
  color: var(--color-p);
  outline: none;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  transition: 0.5s;
}

input {
  align-items: center;
  justify-content: center;
}

:where(input, textarea):focus {
  border: 4px solid #fff;
}

::placeholder {
  color: #e5e5e5cd;
}

a {
  text-decoration: none;
}

.icon {
  color: var(--color-h1);
  height: 3rem;
  font-size: 3rem;
  transition: 0.2s;
}

.icon:hover {
  height: 4rem;
  font-size: 4rem;
  cursor: pointer;
  transition: 0.2s;
}

.icon-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--font--base);
  font-weight: 700;
  color: var(--color-h1);
  background-color: transparent;
  border: 0.3rem solid var(--color-h1);
  border-radius: 45px;
  height: 3rem;
  transition: 0.25s;
}

.icon-btn:hover {
  height: 4rem;
  transition: 0.25s;
}

.confirm-btn {
  font-size: 1.5rem;
  width: 10rem;
  height: auto;
}

.btn-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.confirm-btn:hover {
  background-color: #fff;
  color: dodgerblue;
}

.shadow {
  /* box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1); */
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.2));
}

.logo-img {
  object-fit: scale-down;
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 16px;
}

p {
  margin: 0%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: var(--pad);
}

@media only screen and (max-width: 600px) {
  /* :root{
    --img-size: 8rem;
  } */
  body {
    margin: auto;
  }
  .row-between-container {
    font-size: 1rem;
  }
  .lhi {
    display: none;
  }
  .logo-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}
